---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=AIzaSyDfK2OKPzeX387QPLSER2qMw_P-3XlnuMQ&maxResults=1&part=snippet&q=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "-3_i6VAwAZZ_B9VOmwR7v6HJyCU",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 13,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "i3KYJwcYHFBA8LaOshvDBM-zOHk",
              "id": {
                "kind": "youtube#video",
                "videoId": "2MhGlgCptko"
              },
              "snippet": {
                "publishedAt": "2024-06-03T06:10:40Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Thailand",
                "description": "thailand #history Pictures attribution: https://pastebin.com/X0P99ntk.",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/2MhGlgCptko/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/2MhGlgCptko/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/2MhGlgCptko/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2024-06-03T06:10:40Z"
              }
            }
          ]
        }
  recorded_at: Sun, 09 Jun 2024 19:00:18 GMT
recorded_with: VCR 6.2.0
